* {
    box-sizing: border-box;
}

.App {
    background-color:wheat;
    padding: 0.5em;
}

#banner {
    background-image: url("./assets/images/banner.jpg");
    background-position: right;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

#content {
    width: 100%;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

/* ===================================================================
 * # borderComponent
 *
 * ------------------------------------------------------------------- */

.borderComponent {
    margin: 5px;
    padding: 10px;
    background-color:white;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    width: 30%;
}

.borderComponent:hover {
    margin: 5px;
    background-color:gold;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

@media only screen and (max-width: 420px) {
    .borderComponent {
        width: 90%;
    }
}

@media screen and (min-width: 420px) and (max-width: 900px) {
    .borderComponent {
        width: 45%;
    }
  }
  
  @media screen and (min-width: 900px) {
    .borderComponent {
        width: 30%;
    }
  }

/* ===================================================================
 * # header
 *
 * ------------------------------------------------------------------- */

.header-nav-brand {
    background-color:rgb(154, 76, 56);
    border-bottom: .1rem solid #eeeeee;
    color: white;
}

.header-nav-brand-box {
    max-width: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
}

.header-nav-brand-description {
    padding-top: 0.5rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    padding-left: 0em;
    font-size: 1rem;
    font-weight: bold;
}

.header-nav a{
    color: black;
    text-decoration: none;
    padding: 2rem;
}

.header-nav a:hover{
    color: white;
    background-color:#ffc93c;
    text-decoration: none;
    padding: 2rem;
}

.header-nav a:visited{
    color: #7a7a7a;
}


/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */

footer {
    padding: 1.5rem;
    padding-bottom: 5rem;
}

footer, footer p, footer a{
    background-color: rgb(154, 76, 56);
    color: white;
}

footer li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 4rem;
    font-weight: bold;
}

footer li li {
    text-indent: 1rem;
}

.footer-row {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}